<div class="home-container">

  <!-- Bienvenida -->
  <div class="fotoIndex1">
    <img src="../../img/perro-posando-para-foto.webp" alt="Perro">
  </div>
  <div class="section ">
    <h3>Bienvenido a PetStyle</h3>
    <p>PetStyle es una plataforma web moderna dedicada al cuidado y bienestar de tus mascotas. Desde nuestra web puedes reservar citas para la peluquería canina, gestionar la información de tus animales de compañía, acceder a una tienda especializada con productos para mascotas y administrar el equipo de profesionales que atienden a tus animales. Todo esto se realiza a través de una interfaz intuitiva y fácil de usar, que permite visualizar y modificar datos tanto de mascotas como de empleados de manera rápida y segura. Nuestra aplicación está desarrollada con Angular y NestJS, lo que garantiza una experiencia eficiente, segura y moderna, acompañada de un diseño atractivo y colores suaves pensado para tu comodidad. Confía en PetStyle para el cuidado integral de tus mascotas y disfruta de todos nuestros servicios desde cualquier dispositivo</p>
  </div>
  <hr>
  <!-- Servicios -->
  <div class="section">
    <h2>Servicios Destacados</h2>
    <ul>
      <li><strong>Peluquería canina:</strong> baño, corte y arreglo profesional</li>
      <li><strong>Tienda especializada:</strong> alimentación, juguetes, higiene</li>
      <li><strong>Citas rápidas:</strong> reserva online en segundos</li>
    </ul>
  </div>
  <hr>
</div>
