  <div class="section">
    <h2>Alta de Empleado</h2>
    <form (ngSubmit)="altaEmpleado()">
      <div class="form-group">
        <label for="dniEmpleado">DNI:</label>
        <input type="text" [(ngModel)]="dni" name="dniEmpleado" required>
      </div>
      <div class="form-group">
        <label for="emailEmpleado">Email:</label>
        <input type="text" [(ngModel)]="email" name="emailEmpleado" required>
      </div>
      <div class="form-group">
        <label for="passwordEmpleado">Password:</label>
        <input type="password" [(ngModel)]="password" name="passwordEmpleado" required>
      </div>
      <div class="form-group">
        <label for="nombreEmpleado">Nombre:</label>
        <input type="text" [(ngModel)]="nombre" name="nombreEmpleado" required>
      </div>
      <div class="form-group">
        <label for="apellidoEmpleado">Apellido:</label>
        <input type="text" [(ngModel)]="apellido" name="apellidoEmpleado" required>
      </div>
      <div class="form-group">
        <label for="especialidadEmpleado">Especialidad:</label>
        <input type="text" [(ngModel)]="especialidad" name="especialidadEmpleado" required>
      </div>
      <div class="form-group">
        <label for="telefonoEmpleado">Teléfono:</label>
        <input type="tel" [(ngModel)]="telefono" name="telefonoEmpleado" required>
      </div>
      <button type="submit">Dar de Alta</button>
    </form>
  </div>
