<div class="register-bg"></div>
<div class="register-content">
  <h1 class="register-title">Registro</h1>
  <form (ngSubmit)="registrarCliente()">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" placeholder="Nombre" required>
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" [(ngModel)]="apellido" name="apellido" placeholder="Apellido" required>
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Email" required>
    <label for="password">Contraseña:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required>
    <label for="telefono">Teléfono:</label>
    <input type="tel" id="telefono" [(ngModel)]="telefono" name="telefono" placeholder="Teléfono" required>
    <button class="btn-submit" type="submit">Registrarse</button>
  </form>
  <p class="register-login-text">¿Ya tienes una cuenta?</p>
  <button class="login-btn" (click)="goToLogin()">Inicia sesión</button>
</div>
